<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleConnexion.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=londrina-shadow" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span></p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="{{url_for('static', filename='img/logoInsta.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/logoFacebook.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="{{url_for('static', filename='img/logoYoutube.png')}}" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel bdBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
                <li>
                    <p> 18 → 20 Novembre 2022</p>
                </li>
                <li>
                    <p>Infos pratiques</p>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
            </ul>
        </header>
        <section id="box-info">
            <header>
                <h2>BIENVENUE !</h2>
            </header>
            <form action="http://localhost:5000/pageInscription" method="POST">
                    <div class="user-box">
                        <p>Connectez-vous pour accéder</p>
                        <p id="p2">à votre espace</p>
                    </div>
                    <div class="user-box">
                        <input class="input-user-box" type="text" placeholder="Email">
                    </div>
                    <div class="user-box">
                        <input class="input-user-box" type="password" placeholder="Mot de passe">
                    </div>
                    <div class="user-box" id="div-cbSouvenir">
                        <input type="checkbox" id = "CbSouvenir">
                        <label for="CbSouvenir">Se souvenir de moi</label>
                    </div>
                    <div class="user-box">
                        <input class="input-user-box" id="boutonConnecter" type="submit" value="SE CONNECTER">
                    </div>
 
            </form>
        </section>
    </main>
</body>
</html>