<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <a href=""></a>
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        </header>
        <section>
            <ul>
                <li>
                    <h1></h1>
                </li>
                <li>
                    <h2></h2>
                </li>
                <li>
                    <section>
                        <ul>
                            <li>
                                <p></p>
                                <input type="text">
                                <label for=""></label>
                                <input type="text">
                                <label for=""></label>
                            </li>
                            <li>
                                <p></p>
                                <input type="text">
                                <label for=""></label>
                            </li>
                            <li>
                                <p></p>
                                <input type="text">
                                <label for=""></label>
                            </li>
                            <li>
                                <p></p>
                                <input type="text">
                                <label for=""></label>
                                <input type="text">
                                <label for=""></label>
                            </li>
                            <li>
                                <input type="text">
                                <label for=""></label>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>