{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <button id="Filtres" type="button" class="btn btn-success">Filtres</button>
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Hôtel</th>
                      <th>Date début</th>
                      <th>Date fin</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>

        <div class="modal" id="modalFiltreDormeur" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
                </div>
          </div>
          </div>
    
    
    
    {% block scripts %}      
    <script>
        $(document).ready(function () {
          /*
          $("#PrenomFiltre").kendoTextBox({
                placeholder: "Entrer le prénom d'une personne",
                size : "medium",
            });
            
            $("#NomFiltre").kendoTextBox({
                placeholder: "Entrer le nom d'une personne",
                size : "medium",
            });

            $("#HotelFiltre").kendoTextBox({
                placeholder: "Entrer le nom de l'hotel",
                size : "medium",
            });

            $("#DateDebutFiltre").kendoDatePicker({
                culture: "fr-FR",
                size : "medium",
            });
            
            $("#DateFinFiltre99").kendoDatePicker({
                culture: "fr-FR",
                size : "medium",
            });
            */
  
            var fields = [
              { id: "PrenomFiltre", placeholder: "Entrer le prénom d'une personne", label: "Prénom" },
              { id: "NomFiltre", placeholder: "Entrer le nom d'une personne", label: "Nom" },
              { id: "HotelFiltre", placeholder: "Entrer le nom de l'hotel", label: "Hotel" },
              { id: "DateDebutFiltre", placeholder: "", label: "Date d'arriver à l'Hotel", type: "datepicker" },
              { id: "DateFinFiltre", placeholder: "", label: "Date de départ de l'Hotel" , type: "datepicker"}
            ];

            var modalBody = $("<div>", { class: "modal-body" });
            $("#modalFiltreDormeur .modal-body").replaceWith(modalBody);

            for (var i = 0; i < fields.length; i++) {
              var row = $("<div>", { class: "row" });
              var col1 = $("<div>", { class: "col-md-5" });
              var label = $("<label>", { for: fields[i].id, class: "label label-primary" }).text(fields[i].label);
              col1.append(label);
              row.append(col1);
              var col2 = $("<div>", { class: "col-md-7" });
              var input = $("<input>", { id: fields[i].id, placeholder: fields[i].placeholder });
              
              col2.append(input);
              row.append(col2);
              modalBody.append(row);
              if (fields[i].type === "datepicker") {
                console.log("date");
                console.log("#"+input[0].id);
                $("#"+input[0].id).kendoDatePicker({ culture: "fr-FR", size: "medium" });

              }
              else {
                input.kendoTextBox({ size: "medium" });
              }
            }

/*

            $(`#DateDebutFiltre`).kendoDatePicker({ culture: "fr-FR", size: "medium" });
            $(`#DateFinFiltre`).kendoDatePicker({ culture: "fr-FR", size: "medium" });*/

            let table = $('#data').DataTable({
              ajax:{
              url:'/api/dataDormeurs',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.hotel = $("#HotelFiltre").val();
                      c.dateDebut = $("#DateDebutFiltre").val();
                      c.dateFin = $("#DateFinFiltre").val();
                  }
                  return c
                }
              },
              columns: [
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'hotel'},
                {data: 'dateDeb',orderable:false,"render" : function(data) { 
    
                    let m = new Date(data);
                    return moment(m).format("D/M/YYYY");
                }
                },
                {data: 'dateFin',orderable:false,"render" : function(data) { 
    
                    let m = new Date(data);
                    return moment(m).format("D/M/YYYY");
                }
                },
              ],
              scrollY:500,
              deferRender:    true,
              scroller:true,
              select:false,
              paging: false,
              combobox : true,
              info: false,
              
            });

            $("#savefilter").on("click",function(){
                table.ajax.reload();
                $("#modalFiltreDormeur").modal("hide");
              });

            $("#Filtres").on("click",function(){
                  $("#modalFiltreDormeur").modal("show");
            })


          });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>