{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <button id="Filtres" type="button" class="btn btn-success mr-2">Filtrer</button>
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                    <a href="/download">
                    <button class="btn btn-info">Download</button>
                    </a>
                    
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Hôtel</th>
                      <th>Date début</th>
                      <th>Date fin</th>
                      <th>IDP</th>
                      <th>IDHotel</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>
        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Etes-vous sur de vouloir supprimer ce dormeur ?</p>
                <span id="dormeurSupprimer"></span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="deleteDormeur" data-dismiss="modal">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal" id="modalFiltreDormeur" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
                </div>
          </div>
          </div>
    
    
    
    {% block scripts %}      
    <script>
        $(document).ready(function () {

            
            var fields = [
              { id: "PrenomFiltre", placeholder: "Entrer le prénom d'une personne", label: "Prénom" },
              { id: "NomFiltre", placeholder: "Entrer le nom d'une personne", label: "Nom" },
              { id: "HotelFiltre", placeholder: "", label: "Entrer le nom de l'hotel" , type: "combobox"},
              { id: "DateDebutFiltre", placeholder: "", label: "Date d'arriver", type: "datepicker" },
              { id: "DateFinFiltre", placeholder: "", label: "Date de départ" , type: "datepicker"},
            ];

            var modalBody = $("<div>", { class: "modal-body" });
            $("#modalFiltreDormeur .modal-body").replaceWith(modalBody);

            for (var i = 0; i < fields.length; i++) {
              var row = $("<div>", { class: "row" });
              var col1 = $("<div>", { class: "col-md-5" });
              var label = $("<label>", { for: fields[i].id, class: "label label-primary" }).text(fields[i].label);
              col1.append(label);
              row.append(col1);
              var col2 = $("<div>", { class: "col-md-7" });
              var input = $("<input>", { id: fields[i].id, placeholder: fields[i].placeholder });
              
              col2.append(input);
              row.append(col2);
              modalBody.append(row);
              if (fields[i].type === "datepicker") {
                $("#"+input[0].id).kendoDatePicker({ culture: "fr-FR", size: "medium" });

              }
              else if(fields[i].type === "combobox"){
                $.ajax({
                  url: "/api/data/nomHotel",
                  type:'get',
                  dataType:'json',
                  async: false,
                  success:function (response) {  
                    var mesHotel = [];
                    mesHotel.push({ text: "", value: "" },)
                    for (var i = 0; i < response.length; i++) {
                      mesHotel.push({ text: response[i], value: response[i] });
                    }  
                    console.log(mesHotel);
                    $("#"+input[0].id).kendoComboBox({ 
                      dataTextField: "text", dataValueField: "value", size: "medium", dataSource: mesHotel 
                    });
                    
                  }
                });
                
              }
              else {
                $("#"+input[0].id).kendoTextBox({ size: "medium" });
              }
            }

           

/*

            $(`#DateDebutFiltre`).kendoDatePicker({ culture: "fr-FR", size: "medium" });
            $(`#DateFinFiltre`).kendoDatePicker({ culture: "fr-FR", size: "medium" });*/

            let table = $('#data').DataTable({
              ajax:{
              url:'/api/dataDormeurs',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.hotel = $("#HotelFiltre").val();
                      c.dateDebut = $("#DateDebutFiltre").val();
                      c.dateFin = $("#DateFinFiltre").val();
                  }
                  return c
                }
              },
              columns: [
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'hotel'},
                {data: 'dateDeb',orderable:false,"render" : function(data) { 
    
                    let m = new Date(data);
                    return moment(m).format("D/M/YYYY");
                }
                },
                {data: 'dateFin',orderable:false,"render" : function(data) { 
    
                    let m = new Date(data);
                    return moment(m).format("D/M/YYYY");
                }
                },
                {data: 'idP', className:"a"},
                {data: 'idHotel', className:"a"},
              ],
              scrollY:500,
              deferRender:    true,
              scroller:true,
              select:false,
              paging: false,
              combobox : true,
              info: false,
              
            });

            $("#savefilter").on("click",function(){
                table.ajax.reload();
                $("#modalFiltreDormeur").modal("hide");
              });

            $("#Filtres").on("click",function(){
                  $("#modalFiltreDormeur").modal("show");
            })

            $("#data").on("click", "tr", function() {
                if(row !=null){
                    $(row).css('background-color', "");     
                }
                $("#buttonmodalSupr").prop("disabled",false)
                row = this;
                $(this).css('background-color', "#AFE1AF");
                idColumn = table.column(0).data()[$(this).index()]; // Récupération de la colonne ID
                $("#dormeurSupprimer").html($(row)[0].childNodes[0].innerHTML+ " " + $(row)[0].childNodes[1].innerHTML)
            });

            $("#deleteDormeur").on("click",function(){
                $.ajax({
                    url:'{{url_for("delete_dormeur")}}',
                    type:'POST',
                    data:{idDormeur:$(row)[0].childNodes[5].innerHTML,
                      idHotel:$(row)[0].childNodes[6].innerHTML,
                      dateDeb:$(row)[0].childNodes[3].innerHTML,
                      dateFin:$(row)[0].childNodes[4].innerHTML},
                success: function(){
                    table.ajax.reload();
                } 
                });       
            });

            $("#data").on("dblclick", "tr", function() {
                const id = $(row)[0].childNodes[5].innerHTML;
                const idHotel = $(row)[0].childNodes[6].innerHTML;
                const dateDeb = $(row)[0].childNodes[3].innerHTML;
                const dateFin = $(row)[0].childNodes[4].innerHTML;

                let dateArray = dateDeb.split("/");
                let day = dateArray[0];
                let month = dateArray[1];
                let year = dateArray[2];
                let dateObjectDebut = day + "-" + month + "-" + year;

                let dateArray2 = dateFin.split("/");
                let day2 = dateArray2[0];
                let month2 = dateArray2[1];
                let year2 = dateArray2[2];
                let dateObjectFin = day2 + "-" + month2 + "-" + year2;

                const url = '{{url_for("dormeur_detail",id="idP", idHotel="idH", dateDeb = "dateD", dateFin = "dateF")}}'.replace("idP",id).replace("idH", idHotel).replace("dateD", dateObjectDebut).replace("dateF", dateObjectFin);
                window.location = url;
            });


          });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>

<style>
  .a{
    display: none;
  }
</style>