{% include 'banner.html' %}
<body>
    <main style="background-color : #ebf3fc;">
        <section class="ftco-section row justify-content-center shadow-lg"> 
                         
          <form method="POST" id="formCoo" style="min-width :65%;" class="container flex w-100 wrap p-4">
            <label for="restauration" class="col-sm-2 col-form-label mb-2 fs-3" style="text-decoration : underline;" id="restauration">Restauration</label>
            <div class="form-group row ml-5 mt-4">
                <div class="col-sm-12 mb-2" style="display: flex;align-items: center;">
                  <input class=" form-controls checkboxTransport justify-content-center" name="jeudi_soir" type="checkbox" id="jeudi_soir">
                  <label for="jeudi_soir" class="col-sm-2 labelJourRestauration col-form-label">Jeudi soir</label>
                </div>
            </div>
            <div class="form-group row ml-5"> 
                <div class="col-sm-12 mb-2" style="display: flex;align-items: center;"> 
                  <input class=" form-controls checkboxTransport justify-content-center" name="vendredi_midi" type="checkbox" id="vendredi_midi">
                  <label for="vendredi_midi" class="col-sm-2 labelJourRestauration mr-5 col-form-label">Vendredi midi</label> 
                  <input class=" form-controls checkboxTransport justify-content-center" name="vendredi_soir" type="checkbox" id="vendredi_soir">
                  <label for="vendredi_soir" class="col-sm-2 labelJourRestauration col-form-label">Vendredi soir</label>
                </div>
            </div>
            <div class="form-group row ml-5">
                <div class="col-sm-12 mb-2" style="display: flex;align-items: center;">
                  <input class=" form-controls checkboxTransport justify-content-center" name="samedi_midi" type="checkbox" id="samedi_midi">
                  <label for="samedi_midi" class="col-sm-2 labelJourRestauration mr-5 col-form-label">Samedi midi</label>
                  <input class=" form-controls checkboxTransport justify-content-center" name="samedi_soir" type="checkbox" id="samedi_soir">
                  <label for="samedi_soir" class="col-sm-2 labelJourRestauration col-form-label">Samedi soir</label>
                </div>

            </div>
            <div class="form-group row ml-5 mb-3">
                <div class="col-sm-12" style="display: flex;align-items: center;">
                  <input class=" form-controls checkboxTransport justify-content-center" name="dimanche_midi" type="checkbox" id="dimanche_midi">
                  <label for="dimanche_midi" class="col-sm-2 labelJourRestauration mr-5 col-form-label">Dimanche midi</label>
                  <input class=" form-controls checkboxTransport justify-content-center" name="dimanche_soir" type="checkbox" id="dimanche_soir">
                  <label for="dimanche_soir" class="col-sm-2 labelJourRestauration col-form-label">Dimanche soir</label>
                </div>
            </div>
            <label for="regimeLabel" class="col-form-label mt-3 mb-3 ml-3 fs-3" style="text-decoration : underline;" id="regimeLabel">Régime alimentaire</label>
            <div class="form-group row ml-4">
                <div class="col-sm-10">
                  <input type="text" class="form-control col-sm-5 col-form-label mt-3 ml-1" style="height:110%;font-size:110%;" value="{{regimes}}" placeholder="Nom régime(s)" id="regime" name="regime">
                </div>
            </div>
            <label for="hebergement" class="col-form-label mt-5 mb-3 ml-3 fs-3" style="text-decoration : underline;" id="hebergement">Hébergement</label>
              <div class="d-flex">
                <button id="success" class="btn btn-success p-3 mb-3 mt-3 ml-5 mr-3 shadow-lg d-flex justify-content-center align-items-center" type="button" style="transition: background-color 0.5s ease; width: 140px; height: 45px;font-size:120%;">OUI</button>
                <button id="echec" class="btn btn-danger p-3 mb-3 mt-3 shadow-lg d-flex justify-content-center align-items-center" type="button" style="transition: background-color 0.5s ease; width: 140px; height: 45px;font-size:120%;">NON</button>
                <div class="form-group">
                  <button  type="button" id="info-button" class="btn btn-secondary p-3 mb-3 mt-3 ml-5 mr-3 shadow-lg d-flex justify-content-center align-items-center" style="transition: background-color 0.5s ease; width: 180px; height: 45px;font-size:110%;">Plus d'informations</button>
                  <div id="info-modal" style="display:none;">
                    <label id="" style="margin-left : 45px; margin-top : -12px; margin-right:auto; background-color : #111111; color :#ffffff; position : absolute; min-width : 300px;z-index:10;" class="pl-2 pr-2 pb-2 pt-2">Le coût de l'hotel est pris en charge par le festival bdBOUM / Maison d'édition. Hôtel : <a href="https://www.hotel-lemonarque.com/fr" target="_blank" style="color:#6b7df2;font-size:110%; ; text-decoration:underline;">Le Monarque</a></label>
                  </div>
                </div>  
              </div>
            <div class="form-group ml-3">
            <label class="mt-3 mb-3 fs-3" style="text-decoration : underline;" for="exampleFormControlTextarea1">Autre remarques</label>
            <input type="textarea" style="width: 35%; height:65px; font-size:110%;" class="form-control mt-3 ml-4 mr-5" id="remarque" placeholder="Écrivez d'autres remarques éventuelles" rows="3" name="remarques">
          </div>
            <small id="prise_en_charge" class="col-form-label mb-3 ml-4 mt-4 form-text text-muted" style="font-size:1.2rem;"><em>PRISE EN CHARGE</em> : Les frais annexes tels que téléphone, bar, ... sont à votre charge
                ainsi que les repas, transport, hebergement du conjoint.</small>
            <div class="form-group text-center mt-3">
              <button type="button" class="btn text-light mr-4 mt-3 bg-danger" style="width: 140px; height: 45px;font-size:130%;">Retour</button>
              <button id="save" style="width: 140px; height: 45px;font-size:130%;" type="button" class="btn mt-3 text-light mr-2 bg-warning ">Suivant</button>
            </div>     
        </form>
        </section>
    </main>
</body>
</html>

<style>
    em{
        text-decoration: underline;
        font-style: normal;
    }

    .titre{
      font-size: 22px;
    }
</style>

<script>


  function convertirListe(liste) {
    return liste.replace(/&#39;|&#34;/g, "").replace(/\[|\]/g, "").split(",");
  }


function verifFormulaire(){
    success = document.getElementById("success").value;
    echec = document.getElementById("echec").value;
    if(success == "" && echec == ""){
      window.alert("Vous devez choisir si vous souhaité être hébergé");
      return false;
    }
    return true;
}

  document.addEventListener("DOMContentLoaded", function() {
    liste_id = convertirListe("{{repas}}");
    for(id of liste_id){
      document.getElementById(id.trim()).checked = true;
    }
})

  $(document).ready(function(){
    $("#save").on("click",function(){
    if(verifFormulaire()){
      var button1 = $("#jeudi_soir")[0].checked
      var button2 = $("#vendredi_midi")[0].checked
      var button3 = $("#vendredi_soir")[0].checked
      var button4 = $("#samedi_midi")[0].checked
      var button5 = $("#samedi_soir")[0].checked
      var button6 = $("#dimanche_midi")[0].checked
      var regime = $("#regime").val()
      var hebergement = $("#success")[0].value
      var button7 = $("#dimanche_soir")[0].checked
      var remarque = $("#remarque").val()
      $.ajax({
        url:"{{url_for('inserer_formulaire_reservation')}}",
        type:'POST',
        dataType: 'json',
        data: {
          "jeudi_soir" : button1,
          "vendredi_midi" : button2,
          "vendredi_soir" : button3,
          "samedi_midi" : button4,
          "samedi_soir" : button5,
          "dimanche_midi" : button6,
          "dimanche_soir" : button7,
          "regime" : regime,
          "hebergement" : hebergement,
          "remarque" : remarque,
        },
        success: function() {
          console.log("sucess");
          window.location.href = "{{url_for('page_fin')}}";
        }    
      })
      
    }
    
    
    

  })
})
const infoButton = document.getElementById('info-button');
const infoModal = document.getElementById('info-modal');

infoButton.addEventListener('click', function() {
  if(infoModal.style.display == "none"){
    infoModal.style.display = 'block';
    infoButton.innerHTML = "Fermer";
  }
  else{
    infoModal.style.display = 'none';
    infoButton.innerHTML = "Plus d'informations";

  }
});

  var btnSuccess = document.getElementById("success");
  var btnDanger = document.getElementById("echec");
  
  btnSuccess.addEventListener("click", function() {
    if(btnDanger.style.border = "3px solid black"){
      btnDanger.style.border = "";
      btnSuccess.value = "false";
    }
    this.style.border = "3px solid black";
    btnSuccess.value = "true";
  });

  btnDanger.addEventListener("click", function() {
    if(btnSuccess.style.border = "3px solid black"){
      btnSuccess.style.border = "";
      btnSuccess.value = "false";
    }
    this.style.border = "3px solid black";
    btnDanger.value = "true";
  });

</script>
