{% include 'banner.html' %}
<body>
    <main style="background-color : #ebf3fc;">
        <section class="ftco-section row justify-content-center shadow-lg"> 
                         
          <form method="POST" id="formCoo" class="container flex w-100 wrap p-4">
            <div class="form-group">
                <h3 class="text-center pb-3">Formulaire des coordonnées</h3> 
            </div>    
            <div class="form-group">
                <label for="exampleInputNom">Prénom</label>
                <input type="text" class="form-control" id="exampleInputNom" aria-describedby="emailHelp" placeholder="Entrer un prénom" name="prenom" id="PrenomPersonne" required>
            </div>
            <div class="form-group">
                <label for="exampleInputNom">Nom</label>
                <input type="text" class="form-control" id="exampleInputNom" placeholder="Entrer un nom" name="nom" required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse Mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer une adresse email" name="email" required>
            </div>
            <div class="form-group">
                <label for="adressePostal">Adresse Postal</label>
                <input type="text" class="form-control" id="adressePostal" placeholder="Entrer une adresse postal" name="adresse" required>
            </div>
            <div class="form-group">
                <label for="numTel">Téléphone</label>
                <input type="tel" class="form-control" id="numTel" placeholder="Entrer un numéro de téléphone" name="tel" pattern="[0-9]{10}" required>
            </div>
            <div class="form-group">
                <label for="ddn">Date de naissance</label>
                <input type="date" class="form-control" id="ddn" placeholder="Entrer une date de naissance" name="ddn" required>
            </div>
            <label for="role">Rôle</label>
            <div class="form-group">
                <select class="selectpicker" name="role" required>
                    <option value="">-- Choisir rôle --</option>
                    {%for (role) in liste_roles%}
                        <option value="{{role}}">{{role}}</option>
                    {%endfor%}
                </select>
            </div>
            
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary ">Inscrire</button>
            </div>
            </form>
        </section>
    </main>
</body>
</html>