{% include 'banner.html' %}
<body>
    <main>
        <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center mt-5">

            <div class="col-sm-6 col-lg-4">
                <!-- Simple card -->
                <div class="card d-block text-center shadow mt-5">
                    <a> <img class="card-img-" src="{{url_for('static', filename='img/doc.png')}}" alt=""> </a>
                    <div class="card-body">
                        <h5 class="card-title mb-4 fs-2">Fin du formulaire</h5>
                        <p class="card-text mb-4 fs-4">Télécharger votre feuille de route <a style="text-decoration:underline;" href="../feuille_route">ici</a></p>
                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div><!-- end col -->
        </div>
    </main>
</body>
</html>