<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleTransport.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=londrina-shadow" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span></p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="{{url_for('static', filename='img/logoInsta.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/logoFacebook.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="{{url_for('static', filename='img/logoYoutube.png')}}" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel bdBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img id ="imgLogoMaison" src="{{url_for('static', filename='img/logo_maison_de_la_bd-removebg-preview.png')}}" alt="">
                </li>
                <li>
                    <img id ="imgheader39festival" src="{{url_for('static', filename='img/header_39efestival.png')}}" alt="">
                </li>
                <li>
                    <p id = "p39e">39ème <br>édition</br></p>
                </li>
                <li>
                    <p id="infoprat">Infos pratiques</p>
                </li>
                <li>
                    <img id ="imgLogoMaison" src="{{url_for('static', filename='img/logo_maison_de_la_bd-removebg-preview.png')}}" alt="">
                </li>
            </ul>
        </header>
        <section id="rectangle_principale">
            <form method="POST" id="formulaire">
              <section>
                <h2>Transport*</h2>
                <p>Si vous utilisés plusieurs d'entre-eux, cochez plusieurs cases.</p>

                <div id="transport">
                    <label id="av">
                        <input type="checkbox" name="avion" id="avion">
                        Avion
                        <input type="text" name="aeroport" id="aeroport" placeholder="Aéroport">
                        <p id="aeroportWarning">Veuillez remplir ce champ</p>
                    </label>

                    <label id ="tr" for="train">
                        <input type="checkbox" name="train" id="train">
                        Train
                        <input type="text" name="gare" id="gare" placeholder="Gare">
                        <p id="gareWarning">Veuillez remplir ce champ</p>
                    </label>

                    <label for="voiture">
                        <input type="checkbox" name="voiture" id="voiture">
                        Voiture
                    </label>

                    <label for="covoiturage">
                        <input type="checkbox" name="covoiturage" id="covoiturage">
                        Covoiturage
                        <input type="file" id="justificatif" name="justificatif" accept=".pdf, .jpg" multiple />
                        <label id="texte_justificatif" for="justificatif">Choisir justificatif (PDF, JPG) ...</label>
                    </label>

                    <label id="au" for="autre">
                        <input type="checkbox" name="autre" id="autre">
                        Autre
                        <input type="text" name="precision" id="precision" placeholder="Précisez">
                        <p id="precisionWarning">Veuillez remplir ce champ</p>
                    </label>
                </div>

            </section>


            <section id="date">
                <div>
                <h2>Arrivé à Blois**</h2>
                <label for="dateArr">Le</label>
                <input id="dateArr" type="date" name="dateArr" value="2022-11-17" title="Veuillez saisir une date valide au format : jj/mm/aaaa " required>
                <label for="hArrive">à</label>
                <input type="time" id="hArrive" name="hArrive" required>
                
                </div>
                <div>
                    <h2>Départ de Blois**</h2>
                    <label for="dateDep">Le</label>
                    <input id="dateDep" type="date" name="dateDep"  value="2022-11-20" title="Veuillez saisir une date valide au format : jj/mm/aaaa " required>
                    <label for="hDep">à</label>
                    <input type="time" id="hDep" name="hDep" required>    
                </div>
            
                <p>**Si vous prenez le train, veuillez préciser l'heure d'arrivé/départ précise à la gare de Blois.</p>
            </section>

            <div class="user-box">
                <input class="input-user-box" id="boutonConnecter" type="submit" onclick="return verif_champ_transport()" value="CONTINUER">
            </div>
        </form>
        </section>
        
    </main>
</body>
</html>


<script>

    let verif_champ_transport = function(){
        var liste_valeur_box = [];
        liste_valeur_box.push("avion");
        liste_valeur_box.push("train");
        liste_valeur_box.push("autre");

        var liste_valeur_champs = []
        liste_valeur_champs.push("aeroport");
        liste_valeur_champs.push("gare");
        liste_valeur_champs.push("precision");

        var champPasRempli = true;

        for(let i =0; i<liste_valeur_box.length; i++){
            if(document.getElementById(liste_valeur_box[i]).checked && document.getElementById(liste_valeur_champs[i]).value == ""){
                var idElement = liste_valeur_champs[i]+"Warning";
                document.getElementById(idElement).style.display = "block";
                champPasRempli = false;
            }
            else if(!document.getElementById(liste_valeur_box[i].checked)){
                var idElement = liste_valeur_champs[i]+"Warning";
                document.getElementById(idElement).style.display = "none";
            }
        }

        if(!champPasRempli){
            return false;
        }

        var requiredCheckboxes = $(':checkbox');
        var requiredCheck = false;
            
        for(let i = 0; i<requiredCheckboxes.length; i++){
            if(requiredCheckboxes[i].checked) {
                requiredCheck = true;
            }
        }
        if(!requiredCheck){
            window.alert("Vous devez sélectionner un moyen de transport");
            return false;
        }
        return true;
    }


</script>