<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleTransport.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=londrina-shadow" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span></p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="{{url_for('static', filename='img/logoInsta.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/logoFacebook.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="{{url_for('static', filename='img/logoYoutube.png')}}" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel bdBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img id ="imgLogoMaison" src="{{url_for('static', filename='img/logo_maison_de_la_bd-removebg-preview.png')}}" alt="">
                </li>
                <li>
                    <img id ="imgheader39festival" src="{{url_for('static', filename='img/header_39efestival.png')}}" alt="">
                </li>
                <li>
                    <p id = "p39e">39ème <br>édition</br></p>
                </li>
                <li>
                    <p id="infoprat">Infos pratiques</p>
                </li>
                <li>
                    <img id ="imgLogoMaison" src="{{url_for('static', filename='img/logo_maison_de_la_bd-removebg-preview.png')}}" alt="">
                </li>
            </ul>
        </header>
        <section id="rectangle_principale">
            <form method="POST" id="formulaire">
              <section>
                <h2>Transport*</h2>
                <p>Si vous utilisés plusieurs d'entre-eux, cochez plusieurs cases.</p>

                <div id="transport">
                    <label id="av">
                        <input type="checkbox" name="avion" id="avion">
                        Avion
                        <input type="text" name="aeroport" id="aeroport" placeholder="Aéroport">
                    </label>

                    <label for="train">
                        <input type="checkbox" name="train" id="train">
                        Train
                        <input type="text" name="gare" id="gare" placeholder="Gare">
                    </label>

                    <label for="voiture">
                        <input type="checkbox" name="voiture" id="voiture">
                        Voiture
                    </label>

                    <label for="covoiturage">
                        <input type="checkbox" name="covoiturage" id="covoiturage">
                        Covoiturage
                        <input type="file" id="justificatif" name="justificatif" accept=".pdf, .jpg" multiple />
                        <label id="texte_justificatif" for="justificatif">Choisir justificatif (PDF, JPG) ...</label>
                    </label>

                    <label for="autre">
                        <input type="checkbox" name="autre" id="autre">
                        Autre
                        <input type="text" name="precision" id="precision" placeholder="Précisez">
                    </label>
                </div>

            </section>


            <section id="date">
                <div>
                <h2>Arrivé à Blois**</h2>
                <label for="dateArr">Le</label>
                <input id="dateArr" type="date" name="dateArr"  value="2022-11-17" title="Veuillez saisir une date valide au format : jj/mm/aaaa ">
                <label for="hArrive">à</label>
                <input type="time" id="hArrive" name="hArrive" required>
                
                </div>
                <div>
                    <h2>Départ de Blois**</h2>
                    <label for="dateDep">LE</label>
                    <input id="dateDep" type="date" name="dateDep"  value="2022-11-20" title="Veuillez saisir une date valide au format : jj/mm/aaaa ">
                    <label for="hDep">A</label>
                    <input type="time" id="hDep" name="hDep" required>    
                </div>
            
                <p>**Si vous prenez le train, veuillez préciser l'heure d'arrivé/départ précise à la gare de Blois.</p>
            </section>

            <div class="user-box">
                <input class="input-user-box" id="boutonConnecter" type="submit" value="CONTINUER">
            </div>
        </form>
        </section>
        
    </main>
</body>
</html>