{% include 'banner.html' %}
<body>
    <main>
        <section class="ftco-section row justify-content-center wrap">
            <ul>
                <li>
                    <h1>Formulaire des coordonnées</h1>
                </li>
                <li>
                    <h2>Veuillez remplir ce formulaire.</h2>
                </li>
                <li>
                    <section>
                        <form method="POST">
                        <ul>
                            <li>
                                <label for="">Identité</label>
                                <input name="prenom" type="text" id="PrenomPersonne" value= "{{prenom}}" required>
                                <input name="nom" type="text" value = "{{nom}}" required>
                            </li>
                            <li>
                                <label for="">Mail</label>
                                <input name="email" type="mail" value= {{email}} required>
                            </li>
                            <li>
                                <label for="">Adresse</label>
                                <input name="adresse" type="text" value= "{{adresse}}" required>
                            </li>
                            <li>
                                <label for="">Tel / DDN</label>
                                <input name="tel" type="tel" pattern="[0-9]{10}" value= {{tel}} required>
                                <input name="ddn" type="date" value= {{ddn}} required>
                            </li>
                            <div class="user-box">
                                <input class="input-user-box" id="boutonConnecter" onclick="return verif_champs_rempli()" type="submit" value="CONTINUER">
                            </div>
                        </ul>
                        </form>
                    </section>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>


<script>

    let verif_champs_rempli = function(){
        var requiredTextFields = $(':text');
        // mail, tel, date
        console.log(requiredTextFields);
        for(let i=0; i<requiredTextFields.length; i++){
            if(requiredTextFields[i].value == ""){
                window.alert("Vous devez remplir tout les champs")
                return false;
            }
        }
    }
    

</script>