{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>

      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Date De Naissance</th>
                      <th>Email</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>

        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Etes-vous sur de vouloir supprimer ce Personne ?</p>
                <span id="personnesupprimer"></span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="deletePersonne" data-dismiss="modal">Supprimer</button>
              </div>
            </div>
          </div>
      </div>
          {% block scripts %}

          
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/dataParticipant',
                columns: [
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'ddnP',orderable:false,"render" : function (data) { 
    
                    let m = new Date(data);
                    return moment(m).format("M/D/YYYY");
                }
            },

                {data: 'emailP',orderable:false},
                ],
                scrollY:500,
                deferRender:    true,
                scroller:true,
                select:false,
                paging: false,
                
                info: false,
                
              });
            });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>