{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
        <div id="container-fluid justify-content-center">

                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center mt-5">

                    <div class="col-sm-6 col-lg-3 btn-custom">
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <div class=""> 
                              <img class="card-img-" src="{{url_for('static', filename='img/calendar_blanc.png')}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Planning</h5>
                                <a href="javascript: void(0);" style="background-color:#024ebd ; color:white" class="btn">Consulter le planning</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->

                    
                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../participantSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/participant.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Participants</h5>
                                <a href="../participantSecretaire" style="background-color:#024ebd ; color:white" class="btn">Liste des participants</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
                    

                    <div class="col-sm-6 col-lg-3 btn-custom">   
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireNavette"> <img class="card-img-" src="{{url_for('static', filename='img/navette.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Navette</h5>
                                <a href="../secretaireNavette" style="background-color:#024ebd ; color:white" class="btn">Consulter les navettes</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
                </div>



                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center">


                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireNavette"> <img class="card-img-" src="{{url_for('static', filename='img/mail_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Invitation</h5>
                                <button type="button" style="background-color:#024ebd ; color:white" class="btn">Envoyer une invitation</button>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../inscrireSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/reservation_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Inscription</h5>
                                <a href="../inscrireSecretaire" style="background-color:#024ebd ; color:white" class="btn">Inscrire participant</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireIntervention"> <img class="card-img- py-2" src="{{url_for('static', filename='img/gerer_reservation.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Interventions</h5>
                                <a href="../secretaireIntervention" style="background-color:#024ebd ; color:white" class="btn">Créer intervention</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->

                </div>                   
                
                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center mb-5">

                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaire_consommateur"> <img class="card-img-" src="{{url_for('static', filename='img/plat_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Consommateur</h5>
                                <a href="../secretaire_consommateur"  style="background-color:#024ebd ; color:white"class="btn">Voir les consommateurs</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../dormeurSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/hotel.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Héberger</h5>
                                <a href="../dormeurSecretaire" style="background-color:#024ebd ; color:white" class="btn">Liste des hébergés</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div style="" class="col-sm-6 col-lg-3 btn-custom">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireGererTransport"> <img class="card-img- py-3" src="{{url_for('static', filename='img/transport.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4 fs-4">Transport</h5>
                                <a href="../secretaireGererTransport" style="background-color:#024ebd ; color:white" class="btn">Liste les transports</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
        
                </div>
                
            </div>
    </main>
</body>
</html>