{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Voyage</th>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Trajet</th>
                      <th>Navette</th>
                      <th>Date départ</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>
          {% block scripts %}

          
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/dataNavettes',
                columns: [
                {data: 'idVoyage'},
                {data: 'prenom'},
                {data: 'nom'},
                {data: 'depart'},
                {data: 'idNavette'},
                {data: 'heureDeb'},
                ],
                scrollY:500,
                deferRender:    true,
                scroller:true,
                select:false,
                paging: false,
                combobox : true,
                info: false,
                
              });
            });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>