{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>

      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                  <button id="Filtres" type="button" class="btn btn-success mr-2">Filtrer</button>
                  <button id="reinitialiser" type="button" class="btn btn-danger mr-2" data-toggle="modal" data-target="#modalReset">Réinitialiser</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Rôle</th>
                      <th>Invite</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>


        <div class="modal fade" id="modalReset" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Réinitialiser</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Etes-vous sur de vouloir réinitialiser les invitations ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button type="button" class="btn btn-danger" id="resetButton" data-dismiss="modal">Oui</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="modalFiltreParticipants" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-5">
                      <label for="PrenomFiltre" class="label label-primary">Prénom</label>
                  </div>
                  <div class="col-md-7">
                      <input  id="PrenomFiltre">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="NomFiltre" class="k-label">Nom</label>
                    </div>
                    <div class="col-md-7">
                        <input id="NomFiltre">
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                      <label for="AdresseEmailFiltre" class="label label-primary">Adresse Email</label>
                  </div>
                  <div class="col-md-7">
                      <input  id="AdresseEmailFiltre">
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="RoleFiltre" class="label label-primary">Rôle</label>
                    </div>
                    <div class="col-md-7">
                        <input id="RoleFiltre">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-5">
                        <label for="Invite" class="label label-primary">Invité</label>
                    </div>
                    <div class="col-md-7">
                        <input id="Invite">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
            </div>
        </div>
      </div>
    </div>
          {% block scripts %}

          
    <script>
      let row = null;
      let idColumn = null;
        $(document).ready(function(){

            $("#PrenomFiltre").kendoTextBox({
                placeholder: "Entrer le prénom d'une personne",
                size : "medium",
            });
            
            $("#NomFiltre").kendoTextBox({
                placeholder: "Entrer le nom d'une personne",
                size : "medium",
            });

            $("#AdresseEmailFiltre").kendoTextBox({
                placeholder: "Entrer l'adresse email d'une personne",
                size : "medium",
            });

            $("#Invite").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "Tout le monde", value: "" },
                            { text: "Personnes invitées", value: "True" },
                            { text: "Personnes non invitées", value: "False" },         
                        ],
                        size : "medium",
            });

            $("#RoleFiltre").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "", value: "1" },
                            { text: "Secretaire", value: "2" },
                            { text: "Exposant", value: "3" },
                            { text: "Staff", value: "4" },
                            { text: "Auteur", value: "5" },
                            { text: "Presse", value: "6" },
                            { text: "Invite", value: "7" },
                            
                        ],
                        size : "medium",
                    });

          let table = $('#data').DataTable({
            ajax:{
              url:'/api/dataInvitation',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.adresseEmail = $("#AdresseEmailFiltre").val();
                      c.invite = $("#Invite").val();
                      c.role = $("#RoleFiltre").data("kendoComboBox").text() 
                  }
                  return c
                }
              },
              columns:[
                {data: 'idP'},
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'emailP',orderable:false},
                {data: 'role'},
                /*{data : 'invite'},*/
                {data : 'invite',"render" : function(data) {
                  if(data){
                    var checkbox = $('<input>').attr({
                    type: 'checkbox',
                    id: 'personne-deja-inviter',
                    checked: true,
                    disabled: true
                    });
                  }
                  else{
                    var checkbox = $('<input>').attr({
                    type: 'checkbox',
                    id: 'personne-a-invite'
                    });
                  }
                  



                  return $('<div>').append(checkbox).html();
                }
                }
              ],

              scrollY:500,
              deferRender:true,
              scroller:true,
              select:false,
              paging: false,              
              info: true,
              language: {
                "emptyTable": "Pas de personnes",
                "lengthMenu": "Show _MENU_ entries",
                "info": "_TOTAL_ personnes",
                "infoEmpty": "Showing 0 to 0 of 0 entries",
                "search": "Search:",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Previous"
                },
            }
            });
            $('#btn-invite').on('click', function() {
              // Sélectionner toutes les cases à cocher cochées
            var checkboxes = $('input[type="checkbox"][id="personne-a-invite"]:checked');

            // Créer un tableau pour stocker les ID
            var ids = [];

            // Boucler sur les cases à cocher cochées pour récupérer les ID
            checkboxes.each(function() {
              var id = $(this).closest('tr').find('td:first').text();
              if (id) {
                ids.push(id);
              }
            });
            console.log(ids);

                    // Effectuer la requête AJAX
            $.ajax({
                url: '/invite_les_participants',
                type: 'POST',
                data: {'ids': ids},
                success: function(response) {
                    table.ajax.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
            });

            $(document).on('click', '#btn-selection-tous', function() {
              // Sélectionner toutes les non cochées et les cocher
            var checkboxes = $('input[type="checkbox"][id="personne-a-invite"]:not(:checked)').prop('checked', true);
            this.id = "btn-deselection-tous"; 
            $(this).text("Désélectionner tous");
            });


            $(document).on('click', '#btn-deselection-tous', function() {
              // Désélectionner toutes les cases à cocher
              $('input[type="checkbox"][id="personne-a-invite"]').prop('checked', false);
            
              // Mettre à jour le bouton
              this.id = "btn-selection-tous";     
              $(this).text("Sélectionner tous");  
            });



            
              $("#data").on("click", "tr", function() {
                if(row !=null){
                    $(row).css('background-color', "");     
                }
              });

              
              $("#savefilter").on("click",function(){
                table.ajax.reload();
                $("#modalFiltreParticipants").modal("hide")
              });
              $("#Filtres").on("click",function(){
                  $("#modalFiltreParticipants").modal("show")
              })

              $("#data").on("dblclick", "tr", function() {
                const id = $(row)[0].childNodes[0].innerHTML;
                console.log(id);
                const url = '{{url_for("participant_detail",id="IDP")}}'.replace("IDP",id);
                window.location = url;
                
            });

            var table_ = $('#data').DataTable();
  
            $('#data tbody').on( 'hover', 'tr', function () {
                    $(this).addClass('row_selected');
                
            
              table_.$('tr.selected').removeClass('row_selected');
              $(this).addClass('row_selected');
        
    } );


    $('#resetButton').click(function() {
      $.ajax({
          type: 'POST',
          url: '/resetInvitations',
          success: function(response) {
            table.ajax.reload();
          },
          error: function(xhr) {
          }
      });
  });

            });
            

        
          </script>
        {% endblock %}
        </div>
        <div id="bouton-page-invite">
          <button id="btn-invite" class="btn text-light bg-primary">Inviter</button>
          <button id="btn-selection-tous" class="btn text-light bg-primary">Sélectionner tous</button>
        </div>
        
    </main>
</body>
</html>
