<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleAccueilSecretaire.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=londrina-shadow" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span></p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="{{url_for('static', filename='img/logoInsta.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/logoFacebook.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="{{url_for('static', filename='img/logoYoutube.png')}}" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel bdBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
                <li>
                    <p> 18 → 20 Novembre 2022</p>
                </li>
                <li>
                    <p>Infos pratiques</p>
                </li>
                <li>
                    <a href="{{url_for('page_secretaire_accueil')}}"> MENU</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
            </ul>
        </header>
        <section id="rectangle_principale">
            <nav>
                <ul>
                    <li class="rectangle_secondaire"></li>
                    <li class="rectangle_secondaire">
                        <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/participant.png')}}" alt=""> </a>
                        
                        <h2>Participants</h2>
                        <h3>Liste des participants</h3>
                    </li>
                    
                    <li class="rectangle_secondaire"></li>
                </ul>
                <a href="{{url_for('participant_secretaire')}}">Lien page participant </a>
                <ul>
                    <li class="rectangle_secondaire"> </li>
                    <li class="rectangle_secondaire"></li>
                    <li class="rectangle_secondaire"></li>
                </ul>
                <ul>
                    <li class="rectangle_secondaire">
                        <a href="{{url_for('secretaire_consommateur')}}">Lien page consommateur </a>
                    </li>
                    <li class="rectangle_secondaire">
                        <a href="{{url_for('dormeur_secretaire')}}">Lien page dormeur </a>
                    </li>
                    <li class="rectangle_secondaire"></li>
                </ul>
            </nav>
        </section>
    </main>
</body>
</html>