{% include 'banner.html' %}

<body>
  <main style="background-color : #ebf3fc;">
    <section class="ftco-section row justify-content-center shadow-lg">

      <form method="POST" id="formCoo" class="container shadow flex w-100 wrap p-4" style="min-width: 40%;">
        <div class="form-group">
          <h3 class="text-center pb-3">Créer une intervention</h3>
        </div>
        <div class="form-group">
          <div id="tshirt-view" class="k-w-300">
            <label for="fabric" class="fs-5">Lieu</label>
            <input id="participant" placeholder="Selectionner un participant" required />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">
            <label for="ddn" class="fs-5">Date</label>
            <input type="date" class="form-control col-12 text-center" style="font-size : 1.25em;" id="ddn"
              placeholder="Entrer une date de naissance" name="ddn" required>
          </div>
          <div class="col-4">
            <label for="ddn" class="fs-5">Début</label>
            <input type="time" class="form-control col-12 text-center" style="font-size : 1.25em;" id="ddn"
              placeholder="Entrer une date de naissance" name="ddn" required>
          </div>
          <div class="col-4">
            <label for="ddn" class="fs-5">Fin</label>
            <input type="time" class="form-control col-12 text-center" style="font-size : 1.25em;" id="ddn"
              placeholder="Entrer une date de naissance" name="ddn" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-6">
            <div class="k-d-flex k-justify-content-center" style="padding-top: 54px;">
              <div id="tshirt-view" class="k-w-300">
                <label for="fabric" class="fs-5">Lieu</label>
                <input id="lieu" placeholder="Selectionner un lieu" />
              </div>
              <div class="col-6">
                <label for="ddn" class="fs-5">Date</label>
                <input type="date" class="form-control col-12 text-center" style="font-size : 1.25em;" id="ddn"
                  placeholder="Entrer une date de naissance" name="ddn" required>
              </div>
            </div>

            <label for="role">Rôle</label>
            <div class="form-group">
              <select class="selectpicker" name="role" required>
                <option value="">-- Choisir rôle --</option>
                {%for (role) in liste_roles%}
                <option value="{{role}}">{{role}}</option>
                {%endfor%}
              </select>
            </div>

            <div class="form-group text-center">
              <button type="submit" style="width: 140px; height: 45px;font-size:130%;"
                class="btn btn-primary mt-3">Inscrire</button>
            </div>
      </form>
    </section>
  </main>
</body>

</html>

<script>

  

  $(document).ready(function () {
    var dataSource = new Array();
    var i = 0;
    liste_lieux = "{{lieux}}".replaceAll("&#39;", "").replaceAll("[","").replaceAll("]","").replaceAll("(", "").replaceAll(")","").split(",");
    for(lieu of liste_lieux){
      if (lieu != ""){
        i++;
        var dico = {text : lieu, value : i+""};
        dataSource.push(dico);
      }
    }
  
    // { text: "Cotton", value: "1" }
    $("#lieu").kendoComboBox({
      dataTextField: "text",
      dataValueField: "value",
      dataSource: dataSource,
      filter: "contains",
      suggest: true,
      size : "large"
    });

    var dataSource = new Array();
    var i = 0;
    liste_lieux = "{{participants}}".replaceAll("&#39;", "").replaceAll("[","").replaceAll("]","").replaceAll("(", "").replaceAll(")","").split(",");
    for(lieu of liste_lieux){
      if (lieu != ""){
        i++;
        var dico = {text : lieu, value : i+""};
        dataSource.push(dico);
      }
    }
  
    // { text: "Cotton", value: "1" }
    $("#participant").kendoComboBox({
      dataTextField: "text",
      dataValueField: "value",
      dataSource: dataSource,
      filter: "contains",
      suggest: true,
      size : "large"
    });

  });
</script>