{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <button id="Filtres" type="button" class="btn btn-success">Filtres</button>
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Voyage</th>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Trajet</th>
                      <th>Navette</th>
                      <th>Date départ</th>
                      <th>Id intervenant</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>
        <div class="modal" id="modalFiltreNavette" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
          
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
                </div>
          </div>
          </div>
          
    {% block scripts %} 
    <script>
        $(document).ready(function (){
          let directionNavette = []
          directionNavette.push({ text: "", value: "" })
          directionNavette.push({ text: "Gare", value: "Gare" })
          directionNavette.push({ text: "Festival", value: "Festival" })
          var fields = [
              { id: "IdVoyageFiltre", placeholder: "Entrer l'id du voyage", label: "Voyage" },
              { id: "PrenomFiltre", placeholder: "Entrer le prenom d'une personne", label: "Prenom" },
              { id: "NomFiltre", placeholder: "Entrer le nom d'une personne", label: "Nom"},
              { id: "DepartFiltre", placeholder: "Direction de la navette (lieu arrivé)", label: "Direction", type: "combobox", donnee: directionNavette},
              { id: "IdNavetteFiltre", placeholder: "Id de la navette", label: "Id de la navette"},
              { id: "DateDebutFiltre", placeholder: "", label: "Date de départ de la navette" , type: "datepicker"},
            ];


            var modalBody = $("<div>", { class: "modal-body" });
            $("#modalFiltreNavette .modal-body").replaceWith(modalBody);

            for (var i = 0; i < fields.length; i++) {
              var row = $("<div>", { class: "row" });
              var col1 = $("<div>", { class: "col-md-5" });
              var label = $("<label>", { for: fields[i].id, class: "label label-primary" }).text(fields[i].label);
              col1.append(label);
              row.append(col1);
              var col2 = $("<div>", { class: "col-md-7" });
              var input = $("<input>", { id: fields[i].id, placeholder: fields[i].placeholder });
              
              col2.append(input);
              row.append(col2);
              modalBody.append(row);
              if (fields[i].type === "datepicker") {
                $("#"+input[0].id).kendoDatePicker({ culture: "fr-FR", size: "medium" });

              }
              else if(fields[i].type === "combobox"){
                if (fields[i].donnee !== undefined){
                    $("#"+input[0].id).kendoComboBox({ 
                      dataTextField: "text", dataValueField: "value", size: "medium", dataSource: fields[i].donnee
                    });
                }
                else{
                }
                
              }
              else {
                $("#"+input[0].id).kendoTextBox({ size: "medium" });
              }
            }

            
            let table = $('#data').DataTable({
              ajax:{
              url:'/api/dataNavettes',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.idVoyage = $("#IdVoyageFiltre").val();
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.depart = $("#DepartFiltre").val();
                      c.idNavette = $("#IdNavetteFiltre").val();
                      c.dateDepart = $("#DateDebutFiltre").val();
                  }
                  return c
                }
              },
                columns: [
                  {data: 'idVoyage'},
                  {data: 'prenom'},
                  {data: 'nom'},
                  {data: 'depart'},
                  {data: 'idNavette'},
                  {data: 'heureDeb',orderable:false,"render" : function(data) { 
                      let m = new Date(data);
                      return moment.utc(m).format("D/M/YYYY HH:mm");
                  }
                  },
                  {data: "idPersonne",className:"hide"},
                ],
                scrollY:500,
                deferRender:    true,
                scroller:true,
                select:false,
                paging: false,
                combobox : true,
                info: false,
                
              });

              $("#data").on("click", "tr", function() {
                if(row !=null){
                    $(row).css('background-color', "");     
                }
                $("#buttonmodalSupr").prop("disabled",false)
                row = this;
                $(this).css('background-color', "#bac9ff");
                idColumn = table.column(0).data()[$(this).index()]; // Récupération de la colonne ID
                
              });

            $("#savefilter").on("click",function(){
                table.ajax.reload();
                $("#modalFiltreNavette").modal("hide");
              });
              $("#Filtres").on("click",function(){
                  $("#modalFiltreNavette").modal("show");
              });
              
              $("#data").on("click", "tr", function() {
                console.log("ici");
                row = this;
                console.log(row);
            });

              $("#data").on("dblclick", "tr", function() {
                const idP = $(row)[0].childNodes[6].innerHTML;
                const url = '{{url_for("navette_detail",idP="idP")}}'.replace("idP",idP);
                window.location = url;
                
            });
            });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>

<style>
  .hide{
      display: none;
    }
</style>