<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleConnexion.css') }}">
    <link href="https://fr.allfont.net/allfont.css?fonts=londrina-shadow" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span></p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="{{url_for('static', filename='img/logoInsta.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="{{url_for('static', filename='img/logoFacebook.png')}}" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="{{url_for('static', filename='img/logoYoutube.png')}}" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel bdBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
                <li>
                    <p> 18 → 20 Novembre 2022</p>
                </li>
                <li>
                    <p>Infos pratiques</p>
                </li>
                <li>
                    <a href="{{url_for('page_secretaire_accueil')}}"> MENU</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='img/logo_maison_de_la_bd.jpg')}}" alt="">
                </li>
            </ul>
        </header>

            <form method="POST">
                    <div class="user-box">
                        <select name="jours" id="jours">
                          <option value="Date">Date</option>
                          <option value="2022,11,18">Vendredi 18 Novembre</option>
                          <option value="2022,11,19">Samedi 19 Novembre</option>
                          <option value="2022,11,20">Dimanche 20 Novembre</option>
                        </select> 

                    </div>
                    <div class="user-box">
                        <select name="nomR" id="nomR">
                            <option value="Restaurant">Restaurant</option>
                            {%for (nomRestau,idRestau) in nomsRestau%}
                            <option value="{{idRestau}}">{{nomRestau}}</option>
                            {%endfor%}

                        </select> 

                    </div>
                    <div class="user-box">
                        <select name="heureR" id="heureR">
                            <option value="Journee">Journee</option>
                            <option value="false">Soir</option>
                            <option value="true">Midi</option>
                        </select> 

                    </div>                 
                    <div class="user-box">
                        <input class="input-user-box" id="boutonConnecter" type="submit" value="FILTRER">
                    </div>     
            </form>
            <section>
                <table>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">PRENOM</th>
                        <th scope="col">NOM</th>
                        <th scope="col">REGIME</th>
                        <th scope="col">EMAIL</th>
                    </tr>
                
                    {%for (un_consommateur, regime) in liste_conso%}
                        <tr>
                            <th scope="col">{{un_consommateur.idP}}</th>
                            <th scope="col">{{un_consommateur.prenomP}}</th>
                            <th scope="col">{{un_consommateur.nomP}}</th>
                            <th scope="col">{{regime}}</th>
                            <th scope="col">{{un_consommateur.emailP}}</th>
                        </tr>
                    {%endfor%}

                
            </table>

            </section>
    </main>
</body>
</html>