{% include 'banner.html' %}

<body>
  <main style="background-color : #ebf3fc;">
    <section class="ftco-section row justify-content-center shadow-lg">
      <div class="row">
        <div class="row mb-4">
            <div class="col-12 col-md-8">
            </div>
            <div class="col-6 col-md-4">
                <div id="Ajouter" type="button"><a href="../interventionsSecretaire" style="background-color:#024ebd ; color:white" class="btn mr-2">Voir Interventions</a></button>
            </div>
        </div>
    </div>
     
      <form method="POST" id="formCoo" class="container shadow flex w-100 wrap p-4" style="min-width: 40%;">
        <div class="form-group">
          <h3 class="text-center pb-3 fs-2">Créer une intervention</h3>
        </div>

        <div class="form-group row">
          <div class="k-d-flex ml-5 col" style="padding-top: 54px;">
            <div class="k-w-300">
              <label for="fabric" class="fs-5">Participant</label>
              <input id="participant" name="participant" placeholder="Selectionner un participant" style="text-align : center; height:60px; max-width:350px; font-size : 110%;" required />
            </div>
          </div>
          <div class="k-d-flex col" style="padding-top: 54px;">
            <div class="k-w-300">
              <label for="date" class="fs-5">Date Intervention</label>
              <input id="date" name="date" value="05/03/2023" title="datepicker" style="text-align : center; height:60px; max-width:350px; font-size : 110%;"/>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="k-d-flex ml-5 col" style="padding-top: 34px;">
            <div class="k-w-300">
              <label for="debut" class="fs-5">Heure Début</label>
              <input id="debut" name="debut" title="timepicker" class="text-center" style="height:60px; max-width:350px; font-size : 110%;"/>
            </div>
          </div>
          <div class="k-d-flex col" style="padding-top: 34px;">
            <div class="k-w-300">
              <label for="fin" class="fs-5">Heure Fin</label>
              <input id="fin" name="fin"  title="timepicker" class="text-center" style="height:60px; max-width:350px; font-size : 110%;"/>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="k-d-flex ml-5 col" style="padding-top: 34px;">
            <div id="tshirt-view" class="k-w-300">
              <label for="lieu" class="fs-5">Lieu</label>
              <input id="lieu" name="lieu" placeholder="Selectionner un lieu" style="text-align : center;height:60px; max-width:350px; font-size : 110%;" />
            </div>
          </div>
          <div class="k-d-flex col" style="padding-top: 34px;">
            <div id="tshirt-view" class="k-w-300">
              <label for="typeInter" class="fs-5">Type</label>
              <input id="typeInter" name="type" placeholder="Selectionner un lieu" style="text-align : center;height:60px; max-width:350px; font-size : 110%;" />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="k-d-flex ml-5" style="padding-top: 34px;">
            <div class="k-w-300 col-10">
              <label for="description" class="fs-5">Description</label>
              <textarea id="description" class="p-1" name="description" style="height:80px; font-size : 105%;"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" onclick="return verif_champs()" style="width: 140px; height: 45px;font-size:130%;"
            class="btn btn-primary mt-5">Créer</button>
        </div>
      </form>
    </section>
  </main>
</body>

</html>

<script>

  /*function verif_champs(){
    var res = true;
    var liste_id_champs = ["participant","date", "debut", "fin", "lieu", "typeInter"];
    for(id of liste_id_champs){
      var elem = document.getElementById(id);
      if(!elem.value.trim()){
        elem.classList.add("valid");              
        res = false;
      }
      else{
        elem.classList.remove("invalid");
      }
    }
    return res;
  }*/

  document.addEventListener("DOMContentLoaded", function() {

    let today = new Date().toLocaleDateString('en-EN', { month: '2-digit',day: '2-digit', year: 'numeric' });
    document.getElementById('date').value = today;

    const date = new Date();
    document.getElementById("debut").value = date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });
    document.getElementById("fin").value = date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: true });

    $("#description").kendoTextArea({
              rows: 10,
              maxLength:200,
              placeholder: "Entrer une description ici"
          });

          $("#description").on('input', function (e) {
              $('.k-counter-container .k-counter-value').html($(e.target).val().length);
          });



    var dataSource = new Array();
    liste_lieux = "{{lieux}}".replaceAll("&#39;", "").replaceAll("[","").replaceAll("]","").replaceAll("(", "").replaceAll(")","").replaceAll("{","").replaceAll("}", "").split(",");
    for(lieu of liste_lieux){
      if (lieu != ""){
        var dico = {text : lieu.split(":")[1].substring(1,lieu.split(":")[1].lenght), value : lieu.split(":")[0]};
        dataSource.push(dico);
      }
    }
  

    $("#lieu").kendoComboBox({
      dataTextField: "text",
      dataValueField: "value",
      dataSource: dataSource,
      filter: "contains",
      suggest: true,
      size : "large"
    });



    var dataSource = [];
var liste_participants = "{{participants}}".replace(/&#39;/g, "").replace(/[\[\]\(\)\{\}]/g, "");

dataSource = liste_participants
  .split(",")
  .filter(participant => participant !== "")
  .map(participant => {
    var [key, value] = participant.split(":");
    return {text: value.substring(1), value: key};
  });
  
    // { text: "Cotton", value: "1" }
    $("#participant").kendoComboBox({
      dataTextField: "text",
      dataValueField: "value",
      dataSource: dataSource,
      filter: "contains",
      suggest: true,
      size : "large"
    });

    var dataSource = new Array();
    liste_interv = "{{type_inter}}".replaceAll("&#39;", "").replaceAll("[","").replaceAll("]","").replaceAll("(", "").replaceAll(")","").replaceAll("{","").replaceAll("}", "").split(",");
    for(intervention of liste_interv){
      if (intervention != ""){
        var dico = {text : intervention.split(":")[1].substring(1,intervention.split(":")[1].lenght), value : intervention.split(":")[0]};
        dataSource.push(dico);
      }
    }
  
    // { text: "Cotton", value: "1" }
    $("#typeInter").kendoComboBox({
      dataTextField: "text",
      dataValueField: "value",
      dataSource: dataSource,
      filter: "contains",
      suggest: true,
      size : "large"
    });




    $("#debut").kendoTimePicker({
      dateInput: true
    });


    $("#fin").kendoTimePicker({
      dateInput: true
    });

    $("#date").kendoDatePicker();

  });
</script>