{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <button id="Filtres" type="button" class="btn btn-success">Filtrer</button>
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Restaurant</th>
                      <th>Régime</th>
                      <th>Date</th>
                      <th>Creneau</th>
                      <th>IDP</th>
                      <th>idRepas</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>
        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Etes-vous sur de vouloir supprimer cette Personne ?</p>
                  <span id="consommateurSuprrimer"></span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-danger" id="deleteConsommateur" data-dismiss="modal">Supprimer</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal" id="modalFiltreConsommateurs" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filtrer<h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-5">
                        <label for="PrenomFiltre" class="label label-primary">Prénom</label>
                    </div>
                    <div class="col-md-7">
                        <input  id="PrenomFiltre">
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5">
                          <label for="NomFiltre" class="k-label">Nom</label>
                      </div>
                      <div class="col-md-7">
                          <input id="NomFiltre">
                      </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-5">
                        <label for="RestaurantFiltre" class="label label-primary">Restaurant</label>
                    </div>
                    <div class="col-md-7">
                        <input  id="RestaurantFiltre">
                    </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-5">
                          <label for="DateFiltre" class="label label-primary">Date</label>
                      </div>
                      <div class="col-md-7">
                          <input id="DateFiltre">
                      </div>
                  </div>
  
                  <div class="row">
                      <div class="col-md-5">
                          <label for="CreneauFiltre" class="label label-primary">Créneau</label>
                      </div>
                      <div class="col-md-7">
                          <input id="CreneauFiltre">
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
              <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
              </div>
          </div>
          </div>
      </div>
          {% block scripts %}

          
    <script>
        let row = null;
        let idColumn = null;
        $(document).ready(function () {
          $("#PrenomFiltre").kendoTextBox({
            placeholder: "Entrer le prénom d'un consommateur",
            size : "medium",
        });
        
        $("#NomFiltre").kendoTextBox({
            placeholder: "Entrer le nom d'un consommateur",
            size : "medium",
        });

          $.ajax({
            url: "/api/data/nomRestaurant",
            type:'get',
            dataType:'json',
            async: false,
            success:function (response) {  
              var mesRestaurants = [];
              mesRestaurants.push({ text: "", value: "" },)
              for (var i = 0; i < response.length; i++) {
                mesRestaurants.push({ text: response[i], value: response[i] });
              }
              $("#RestaurantFiltre").kendoComboBox({ 
                dataTextField: "text", dataValueField: "value", size: "medium", dataSource: mesRestaurants 
              });
            },
          }),

        $("#DateFiltre").kendoDatePicker({
            culture: "fr-FR",
            size : "medium",
        });

        $.ajax({
            url: "/api/data/creneauRepas",
            type:'get',
            dataType:'json',
            async: false,
            success:function (response) {  
              var mesCreneaux = [];
              mesCreneaux.push({ text: "", value: "" },)
              for (var i = 0; i < response.length; i++) {
                mesCreneaux.push({ text: response[i], value: response[i] });
              }
              $("#CreneauFiltre").kendoComboBox({ 
                dataTextField: "text", dataValueField: "value", size: "medium", dataSource: mesCreneaux 
              });
            },
          });
          let table = $('#data').DataTable({
            ajax:{
              url:'/api/dataConsommateurs',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.restaurant = $("#RestaurantFiltre").val();
                      c.la_date = $("#DateFiltre").val();
                      c.creneau = $("#CreneauFiltre").val();
                  }
                  return c
                }
              },
              columns:[
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'restaurant'},
                {data: 'regime'},
                {data: 'date'},
                {data: 'creneau'},
                {data: "idConsommateur",className:"a"},
                {data: "idRepas",className:"a"}
              ],

              scrollY:500,
              deferRender:    true,
              scroller:true,
              select:false,
              paging: false,
              combobox : true,
              info: false,
            });
            $("#savefilter").on("click",function(){
              table.ajax.reload();
              $("#modalFiltreConsommateurs").modal("hide")
            });
            $("#Filtres").on("click",function(){
                $("#modalFiltreConsommateurs").modal("show")
            });
            $("#data").on("click", "tr", function() {
                if(row !=null){
                    $(row).css('background-color', "");     
                }
                $("#buttonmodalSupr").prop("disabled",false)
                row = this;
                $(this).css('background-color', "#AFE1AF");
                idColumn = table.column(0).data()[$(this).index()]; // Récupération de la colonne ID
                $("#consommateurSuprrimer").html($(row)[0].childNodes[0].innerHTML+ " " + $(row)[0].childNodes[1].innerHTML)
            });

            $("#deleteConsommateur").on("click",function(){
                $.ajax({
                    url:'{{url_for("delete_consommateur")}}',
                    type:'POST',
                    data:{idConsommateur:$(row)[0].childNodes[6].innerHTML,
                      idRepas:$(row)[0].childNodes[7].innerHTML},
                success: function(){
                    table.ajax.reload();
                } 
                });       
            });

            $("#data").on("dblclick", "tr", function() {
                const id = $(row)[0].childNodes[6].innerHTML;
                const idRepas = $(row)[0].childNodes[7].innerHTML;
                const url = '{{url_for("consommateur_detail",id="idC", idRepas="idRe")}}'.replace("idC",id).replace("idRe", idRepas);
                window.location = url;
            });
        });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>

<style>
  .a{
      display: none;
    }
</style>