{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>

      <div class="container mt-5">
        <div class="row">
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">
                    <div id="Ajouter" type="button"><a href="../inscrireSecretaire" style="background-color:#024ebd ; color:white" class="btn mr-2">Ajouter</a></button>
                    <button id="Filtres" type="button" class="btn btn-success mr-2">Filtres</button>
                    <button id="buttonmodalSupr" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>
                </div>
            </div>
        </div>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>ID</th>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Email</th>
                      <th>Rôle</th>
                      <th>Invite</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>

        <div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Supprimer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Etes-vous sur de vouloir supprimer cette Personne ?</p>
                <span id="personnesupprimer"></span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger" id="deletePersonne" data-dismiss="modal">Supprimer</button>
              </div>
            </div>
          </div>
      </div>

      <div class="modal" id="modalFiltreParticipants" tabindex="2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filtre<h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-5">
                      <label for="PrenomFiltre" class="label label-primary">Prénom</label>
                  </div>
                  <div class="col-md-7">
                      <input  id="PrenomFiltre">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <label for="NomFiltre" class="k-label">Nom</label>
                    </div>
                    <div class="col-md-7">
                        <input id="NomFiltre">
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-5">
                      <label for="AdresseEmailFiltre" class="label label-primary">Adresse Email</label>
                  </div>
                  <div class="col-md-7">
                      <input  id="AdresseEmailFiltre">
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="RoleFiltre" class="label label-primary">Rôle</label>
                    </div>
                    <div class="col-md-7">
                        <input id="RoleFiltre">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-5">
                        <label for="Invite" class="label label-primary">Invité</label>
                    </div>
                    <div class="col-md-7">
                        <input id="Invite">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-success" id="savefilter">Sauvegarder</button>
            </div>
        </div>
        </div>
    </div>
          {% block scripts %}

          
    <script>
      let row = null;
      let idColumn = null;
        $(document).ready(function(){

            $("#PrenomFiltre").kendoTextBox({
                placeholder: "Entrer le prénom d'une personne",
                size : "medium",
            });
            
            $("#NomFiltre").kendoTextBox({
                placeholder: "Entrer le nom d'une personne",
                size : "medium",
            });

            $("#AdresseEmailFiltre").kendoTextBox({
                placeholder: "Entrer l'adresse email d'une personne",
                size : "medium",
            });

            $("#Invite").kendoCheckBox({
                checked: true,
                label: "Invité",
                culture: "fr-FR",
                size : "medium",
            });

            $("#RoleFiltre").kendoComboBox({
                        dataTextField: "text",
                        dataValueField: "value",
                        dataSource: [
                            { text: "", value: "1" },
                            { text: "Secretaire", value: "2" },
                            { text: "Exposant", value: "3" },
                            { text: "Staff", value: "4" },
                            { text: "Auteur", value: "5" },
                            { text: "Presse", value: "6" },
                            { text: "Invite", value: "7" },
                            
                        ],
                        size : "medium",
                    });

          let table = $('#data').DataTable({
            ajax:{
              url:'/api/dataInvitation',
                type:"POST",
                data:function(c){
                    if(c!=undefined){
                      c.prenom = $("#PrenomFiltre").val();
                      c.nom = $("#NomFiltre").val();
                      c.adresseEmail = $("#AdresseEmailFiltre").val();
                      c.invite = $("#Invite").val();
                      c.role = $("#RoleFiltre").data("kendoComboBox").text() 
                  }
                  return c
                }
              },
              columns:[
                {data: 'idP'},
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'ddnP',orderable:false,"render" : function(data) { 
    
                    let m = new Date(data);
                    return moment(m).format("DD/MM/YYYY");
                }
                },

                {data: 'emailP',orderable:false},
                {data: 'role'},
              ],

              scrollY:500,
              deferRender:true,
              scroller:true,
              select:false,
              paging: false,              
              info: true,
              language: {
                "emptyTable": "Pas de personnes",
                "lengthMenu": "Show _MENU_ entries",
                "info": "_TOTAL_ personnes",
                "infoEmpty": "Showing 0 to 0 of 0 entries",
                "search": "Search:",
                "paginate": {
                    "first": "First",
                    "last": "Last",
                    "next": "Next",
                    "previous": "Previous"
                },
            }
            });



            
              $("#data").on("click", "tr", function() {
                if(row !=null){
                    $(row).css('background-color', "");     
                }
                $("#buttonmodalSupr").prop("disabled",false)
                row = this;
                $(this).css('background-color', "#adbfe0");
                idColumn = table.column(0).data()[$(this).index()]; // Récupération de la colonne ID
                $("#personnesupprimer").html($(row)[0].childNodes[0].innerHTML+ " " + $(row)[0].childNodes[1].innerHTML)
              });

              $("#deletePersonne").on("click",function(){
                console.log(row);
                $.ajax({
                    url:'{{url_for("delete_utilisateur")}}',
                    type:'POST',
                    data:{id:idColumn},
                success: function(){
                    table.ajax.reload();
                } 
                });       
              });
              $("#savefilter").on("click",function(){
                table.ajax.reload();
                $("#modalFiltreParticipants").modal("hide")
              });
              $("#Filtres").on("click",function(){
                  $("#modalFiltreParticipants").modal("show")
              })

              $("#data").on("dblclick", "tr", function() {
                const id = $(row)[0].childNodes[0].innerHTML;
                console.log(id);
                const url = '{{url_for("participant_detail",id="IDP")}}'.replace("IDP",id);
                window.location = url;
                
            });

            var table_ = $('#data').DataTable();
  
            $('#data tbody').on( 'hover', 'tr', function () {
                    $(this).addClass('row_selected');
                
            
              table_.$('tr.selected').removeClass('row_selected');
              $(this).addClass('row_selected');
        
    } );

            });
            

        
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>