{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
    <main>
        <div style="background-color : #f5f7fa" class="container mt-5">
            {% block content %}
            <table id="data" class="table table-striped">
                <thead>
                    <tr>
                      <th>Prenom</th>
                      <th>Nom</th>
                      <th>Restaurant</th>
                      <th>Régime</th>
                      <th>Date</th>
                      <th>Creneau</th>
                    </tr>
                  </thead>
              </table>
              {% endblock %}
        </div>
          {% block scripts %}

          
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                ajax: '/api/dataConsommateurs',
                columns: [
                {data: 'prenomP'},
                {data: 'nomP'},
                {data: 'restaurant'},
                {data: 'regime'},
                {data: 'date'},
                {data: 'creneau'},
                ],
                scrollY:500,
                deferRender:    true,
                scroller:true,
                select:false,
                paging: false,
                combobox : true,
                info: false,
                
              });
            });

            
          </script>
        {% endblock %}
        </div>
    </main>
</body>
</html>