{% include 'banner.html' %}
<body style="background-color : #ebf3fc">
        <div id="container-fluid justify-content-center">

                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center mt-5">

                    <div class="col-sm-6 col-lg-3">
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <div class=""> 
                              <img class="card-img-" src="{{url_for('static', filename='img/calendar_blanc.png')}}" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Planning</h5>
                                <a href="javascript: void(0);" class="btn btn-info">Consulter le planning</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->

                    
                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../participantSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/participant.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Participants</h5>
                                <a href="../participantSecretaire" class="btn btn-info">Liste des participants</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
                    

                    <div class="col-sm-6 col-lg-3">   
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireNavette"> <img class="card-img-" src="{{url_for('static', filename='img/navette.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Navette</h5>
                                <a href="../secretaireNavette" class="btn btn-info">Consulter les navettes</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
                </div>



                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center">


                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireNavette"> <img class="card-img-" src="{{url_for('static', filename='img/mail_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Invitation</h5>
                                <button type="button" class="btn btn-info">Envoyer une invitation</button>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../inscrireSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/reservation_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Inscription</h5>
                                <a href="../inscrireSecretaire" class="btn btn-info">Inscrire participant</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="https://www.facebook.com/bdboum?fref=ts"> <img class="card-img-" src="{{url_for('static', filename='img/gerer_reservation.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Interventions</h5>
                                <a href="javascript: void(0);" class="btn btn-info">Créer intervention</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->

                </div>                   
                
                <div style="margin-left : 0.20em;" class="row col d-flex justify-content-center mb-5">

                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaire_consommateur"> <img class="card-img-" src="{{url_for('static', filename='img/plat_blanc.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Consommateur</h5>
                                <p class="card-text"></p>
                                <a href="../secretaire_consommateur" class="btn btn-info">Voir les consommateurs</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../dormeurSecretaire"> <img class="card-img-" src="{{url_for('static', filename='img/hotel.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Héberger</h5>
                                <a href="../dormeurSecretaire" class="btn btn-info">Liste des hébergés</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->


                    <div style="" class="col-sm-6 col-lg-3">
                
                        <!-- Simple card -->
                        <div class="card d-block text-center shadow mt-5">
                            <a href="../secretaireGererParticipants"> <img class="card-img-" src="{{url_for('static', filename='img/gerer.png')}}" alt=""> </a>
                            <div class="card-body">
                                <h5 class="card-title mb-4">Gérer</h5>
                                <a href="../secretaireGererParticipants" class="btn btn-info">Gérer les participants</a>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div><!-- end col -->
        
                </div>
                
            </div>
    </main>
</body>
</html>