<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="styleInscription.css">
    <link href='https://fonts.googleapis.com/css?family=Miltonian Tattoo' rel='stylesheet'>
    <link href="http://fonts.cdnfonts.com/css/libre-franklin" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <li>
                <p>Rejoignez la communauté <span>#BDBoum</span> </p>
            </li>
            <li>
                <a href="https://www.instagram.com/bdboum/?hl=fr"> <img id="imginsta" src="../img/logoInsta.png" alt=""> </a>
            </li>
            <li>
                <a href="https://www.facebook.com/bdboum?fref=ts"> <img id="imgface" src="../img/logoFacebook.png" alt=""> </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCZzbuXSrKg_De4i7H9BaW1Q"> <img id="imgyout" src="../img/logoYoutube.png" alt=""> </a>
            </li>
            <li id="last-li-header">
                <a href="https://www.maisondelabd.com/">Site Officiel BDBoum</a>
            </li>
        </ul>
        
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img id ="imgLogoMaison" src="../img/logo_maison_de_la_bd-removebg-preview.png" alt="">
                </li>
                <li>
                    <img id ="imgheader39festival" src="../img/header_39efestival.png" alt="">
                </li>
                <li>
                    <p id = "p39e">39ème <br>édition</br></p>
                </li>
                <li>
                    <p id="infoprat">Infos pratiques</p>
                </li>
                <li>
                    <img id ="imgLogoMaison" src="../img/logo_maison_de_la_bd-removebg-preview.png" alt="">
                </li>
            </ul>
        </header>
        <section>
            <ul>
                <li>
                    <h1>Formulaire des coordonnées</h1>
                </li>
                <li>
                    <h2>Veuillez remplir ce formulaire.</h2>
                </li>
                <li>
                    <section>
                        <ul>
                            <li>
                                <label for="">Identité</label>
                                <input type="text">
                                <input type="text">
                            </li>
                            <li>
                                <label for="">Mail</label>
                                <input type="mail">
                            </li>
                            <li>
                                <label for="">Adresse</label>
                                <input type="text">
                            </li>
                            <li>
                                <label for="">Tel / DDN</label>
                                <input type="tel">
                                <input type="date">
                            </li>
                            <li>
                                <input id="boutonContinuer" type="submit" value="Continuer">
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>