<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <header>
        <ul>
            <li>
                <p></p>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <a href=""> <img src="" alt=""> </a>
            </li>
            <li>
                <p></p>
            </li>
        </ul>
        <a href=""></a>
    </header>
    <main>
        <header>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <p></p>
                </li>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        </header>
        <section>
            <header>
                <h2></h2>
            </header>
            <ul>
                <li>
                    <p></p>
                </li>
                <li>
                    <input type="text">
                    <label for=""></label>
                </li>
                <li>
                    <input type="text">
                    <label for=""></label>
                </li>
                <li>
                    <input type="text">
                    <label for=""></label>
                </li>
                <li>
                    <input type="text">
                    <label for=""></label>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>